/* custom css for partner */
.box-border{
    box-shadow: 0 0 10px #ccc;
  }
  .width25{
    width: 19%;
    display: inline-block;
  }
  h4{
    font-weight: bold;
  }
  .imgwidthHeight{
    height: 88px;
      width: 97px;
  }
  .btn-story{
    background: #88C601;
      border-color: #88C601;
      font-weight: bold;
      padding: 15px;
      color: white;
  }
  .imgGrid{
    width: 45%;
  }
  body{
    font-family: 'Roboto', sans-serif;
      color: #707070;
  }
  /* custom css for partner */
  .content-box{
    width: 80%;
    margin: 0 auto;
  }
  .div30{
    width: 32%;
    float: left;
  }	
  .div40{
    width: 40%;
  }	
  .div50{
    width: 50%;
    margin: 0 auto;
  }
  .div60{
    width: 59%;
  }
  .div80{
    width: 80%;
  }

  .div100{
    width: 100%;
    display: inline-block;;
  }
  .mt-2{
    margin-top : 2%;
  }
  .p-2{
    padding: 2%;
  }
  .mt-5{
    margin-top: 5%;
  } 
  .mt-3{
    margin-top: 3%;
  }
  .mr-5{
    margin-right: 5%;
  }
  .mr-1{
    margin-right: 1%;
  }
  .p-3{
      padding: 3%;
  }
  .p-4{
    padding: 4%;
  }
  .p-5{
    padding: 5%;
  } 
  .m-auto{
    margin: 0 auto;
  }
  .text-center{
    text-align: center;
  }
  .text-left{
    text-align: left;
  }
  .d-inline{
    display: inline-block;;
  }
  .div-grid{
     padding-top: 2%;
    padding-bottom: 5%;
    height: 250px;
    vertical-align: top;
  }
  .div-grid .div100.mt-5{
    vertical-align: middle;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .imgSupport{
    height: 100px;
  }
  .text-right{
      text-align: right;
  }
.m-1{
    margin: 1%;
}
.m-2{
    margin: 2%;
}

.MuiFormControl-root-6{
  width: 100%;
}
.jss6{
  width: 100% !important;
}