.fileDisplay {
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 5px;
    width: 100%;
    word-break: break-all;
    position: relative;
}

.fileDisplay span:last-child {
    cursor: pointer;
    position: absolute;
    right: 0;
}

.loaderDiv {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
}